:root {
    --primary-text-color: rdba(0, 0, 0, 0.8);
    --text-color: #434455;
    --title-text-color: #2E2F42; 
    --accent-text-color: #4D5AE5;
    --white-title-text-color:#F4F4FD;
    --white-text-color: #E7E9FC;
    --primary-white-color: #FFFFFF;
    --background-color: #E5E5E5;
    --white-background-color: #F4F4FD;
    --dark-background-color: #2E2F42;
    --btn-active-color: #404BBF;
    --primary-font-family: Roboto;
    --secondary-font-family: Raleway;
    --header1-font-size: 56px;
    --header2-font-size: 36px;
    --header3-font-size: 20px;
    --logo-font-size: 18px;
    --regular-font-size: 16px;
    --text-font-size: 14px; 
    --text-font-weight: 400;
    --header3-font-weight: 500;
    --header1-font-weight: 700;
    --header1-line-height: 1.07;
    --header2-line-height: 1.11;
    --header3-line-height: 1.15;
    --text-line-height: 1.50;
    --header-logo-line-height: 1.33;
    --footer-logo-line-height: 1.17;
    --page-width: 1440px;
    --content-width: 1128px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* hide lists dots */
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* Reset internal indents */
ul[class] { 
  padding: 0; 
} 

/* Reset external indents */
body, 
h1, 
h2,
h3, 
h4, 
p, 
ul[class],  
li { 
  margin: 0; 
}

/* Link decorations */
a.active.link {
    text-decoration:none;
    color: var(--btn-active-color);
}

a.active.link:hover {
    text-decoration: underline;
    color: var(--btn-active-color);
}

a.link:hover,
a.link:focus {
    text-decoration: underline;
    text-decoration-line:var(--btn-active-color); 
    color: var(--btn-active-color);  
}

.address.link:hover,
.link:hover {
    text-decoration: underline;
}

/* .body-container.main { */
body {
    background-color: var(--primary-white-color);
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    font-size: var(--regular-font-size);
    font-weight: var(--header3-font-weight);
    line-height: var(--text-line-height);
    letter-spacing: 0.02em;
}

 main {
    font-display: swap;
 }

.page-container {
    align-items: center;
    width: var(--page-width);
    margin: 0 auto;
    outline: 3px solid tomato;
}
 
.section,
div.footer.section {
    align-items: center;
    margin: 0 auto;
    padding-left: 156px;
    padding-right: 156px;
    /* outline: 2px solid tomato; */
    /* background-color:blanchedalmond; */
}

/* Top Line section */
header.section {
    display:flex;
    justify-content: space-between;
    width: var(--page-width);
    background-color: var(--primary-white-color);
    border-radius: 1px;
    border-color: var(--white-text-color);
}

.page-nav {
    display:flex;
    align-items: center;
}
/* Top line Logo section */
.logo {
    font-family: var(--secondary-font-family);
    font-size: var(--logo-font-size);
    line-height: var(--header-logo-line-height);
    text-decoration: none;
}

.logo>span.accentcolor:hover,
.logo>span.bluecolor:hover,
.logo>span.whitecolor:hover {
    text-decoration: underline;
}

.accentcolor {
    color: var(--accent-text-color);
}

.whitecolor {
    color: var(--white-title-text-color);
}

/* Top line Menu nav */
.menu-nav.container{
    display:flex;
    margin-left: 76px;
    padding-left: 0px;
    width: 261px;
}

.menu-nav > .item:not(:first-child) {
/* .menu-nav .item + .item { */
    margin-left: 40px;
} 

.nav.link{
    display:block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--text-color);
    min-width: 48px;
    text-decoration: none;
}

.nav.link:hover {
    color: var(--title-text-color);
    text-decoration: underline;
}

.address.link {
    display:block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--text-color);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
    min-width: 48px;
}

.contacts a{
    text-decoration: none;
    line-height: var(--header3-line-height);
    color: var(--text-color);
}

.contacts > .item:not(:first-child) {
/* .contacts .item + .item { */
    margin-left: 40px;
}

.contacts.container {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    font-style: normal;
}

  /* Hero-img container */
 .hero-img.section,
 .footer.section {
    background-color: var(--dark-background-color);
 }

 div.hero-img.section.centred {
    vertical-align:bottom;
 }

 .hero-msg {
    padding-top: 188px;
    margin: 0px auto 48px;
    color: var(--white-text-color);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    font-weight: var(--header1-font-weight);
    width: 496px;
 }

.hero-btn {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin-bottom: 188px;
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    line-height: var(--text-line-height);
    font-size: 16px;
    text-align: center; 
    cursor:pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
}


/* Main page section titles */
.h2header.title {
/* h2.title { */
    margin-bottom: 0px;
    margin-top: 0px;  
    color: var(--title-text-color);
    font-size: var(--header2-font-size);
    line-height: var(--header2-line-height);
}

/* Section1 features container */
ul.container.features,
ul.container.imgs,
ul.container.team {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    width: var(--content-width);
}

li.feature.list {
    width: 264px;
}

li.feature.list:last-child {
    margin-right: 0px;
}

ul.container.features {
    flex-basis: calc(100% 4);
    padding-top: 168px;
    padding-bottom: 147px;
    outline: 1px solid teal;
}

.container.imgs,
.rows-container {
    flex-basis: calc(100% 3);
    outline: 1px solid blue;
}

ul.container.team {
    flex-basis: calc(100% 3);
    padding-bottom: 154px;
    outline: 1px solid red;
}

.h3header {
/* h3 { */
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-size: var(--header3-font-size);
    line-height: var(--header3-line-height);
}

.feature.content {
    color: var(--text-color);
    font-size: var(--regular-font-size);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
}

/* What Are We Doing section */
.h2header.imgs {
    padding-bottom: 72px;
}

li.img-cotainer.list.first {
    margin-right: 24px;
}

/* Our team section */
.section.team {
    background-color: var(--white-title-text-color);
}

.h2header.team { 
    align-content: center;
    padding-top: 120px;
    margin-bottom: 72px;
}

.card-container.list {   
    background-color: var(--primary-white-color);
}

.card-content.list.centred {
    margin-bottom: 32px;
}

.teamplayers,
.card-img {
    margin-bottom: 32px;
}

.team > .list:not(:last-child){
    margin-right: 24px;
}

/* index.html Section3 container  */
.h3header.teamplayers-name,
/* portfolio.html Row 3 container */
.h3header.content.name {
    margin-bottom: 8px;
    font-size: var(--header3-font-size);
    color: var(--title-text-color);
}

/* index.html Section3 container  */
.teamplayers-position,
/* portfolio.html Row 3 container */
p.content.type {
    margin-bottom: 32px;
    font-size: var(--regular-font-size);
    line-height: var(--header3-line-height);
    color: var(--text-color);
}

/* Logo footer */
ul.logo-footer.list {
    padding-left: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
    line-height: var(--footer-logo-line-height);
}

.footer-content {
    width: 264px;
    color: var(--white-text-color);
    font-size: var(--regular-font-size);
    font-weight: var(--text-font-weight);
    line-height: var(--header3-line-height);
}

/* Portfolio page */
.filter-buttons {
    display:flex;
    justify-content: space-between;
}

section.filters-container.top {
    flex-basis: calc(100% 5);
    margin: 89px auto 71px;
    width: 586px;
    outline: 1px solid tomato;
}

.filters {
    display: inline-block;
    min-width: 69px;
    height: 48px;
    /* padding: 12px 24px;
    margin-left: 24px; */
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid;
    border-color: transparent;
    color: var(--accent-text-color);
    background-color: var(--background-color);  
    line-height: var(--header3-line-height);
    cursor:pointer; 
}

.filters-active {
    display: inline-block;
    min-width: 69px;
    height: 48px;
    padding: 12px 24px;
    font-size: 16px; 
    border-radius: 4px;
    border: 1px solid;
    border-color: transparent;
    color: var(--primary-white-color);
    background-color: var(--btn-active-color);
    line-height: var(--header3-line-height);
    cursor:pointer;  
}

.filters:active,
.filters:focus,
.filters:hover {
    background-color: var(--white-title-text-color);
    border-color: var(--accent-text-color);
}

.filters-active:hover {
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}

.filters[aria-label]:hover,
.filter-active[aria-label]:hover {
    text-decoration: underline;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul.rows-container.up,
ul.rows-container {
    display:flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.rows-container .list:not(:last-child) {
    margin-right: 24px;
}

.item-cotainer.list {
    outline: 2px solid tomato;
    width: 360px;
    margin-bottom: 0px;
    border-bottom-width: 5px;
    border-bottom-color: E7E9FC;
    border-bottom-color: #4D5AE5;
    background-color: var(--primary-white-color);
}

.card-content.list li {
    margin-left: 18px;
}

.h3header.content-name {
/* h3.content.name { */
    margin-bottom: 8px;
    align-items: center;
    font-family: var(--primary-font-family);
    font-size: var(--header3-font-size);
    font-weight: var(--header3-font-weight);
    color: var(--title-text-color);
}

.section.row1,
.section.row2 {
    margin-bottom: 48px;
}

.section.row3 {
    margin-bottom: 103px;
}

.centred {
    text-align: center;
}