:root {
    --primary-text-color: rdba(0, 0, 0, 0.8);
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-text-color: #4D5AE5;
    --white-title-text-color:#F4F4FD;
    --white-text-color: #E7E9FC;
    --primary-white-color: #FFFFFF;
    --background-color: #E5E5E5;
    --white-background-color: #F4F4FD;
    --dark-background-color: #2E2F42;
    --btn-active-color: #404BBF;
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --header1-font-size: 56px;
    --header2-font-size: 36px;
    --header3-font-size: 20px;
    --logo-font-size: 18px;
    --regular-font-size: 16px;
    --text-font-size: 14px; 
    --text-font-weight: 400;
    --header3-font-weight: 500;
    --header1-font-weight: 700;
    --header1-line-height: 1.07;
    --header2-line-height: 1.11;
    --header3-line-height: 1.15;
    --text-line-height: 1.20;
    --feature-widthtext-line-height: 1.50;
    --header-logo-line-height: 1.33;
    --footer-logo-line-height: 1.17;
    --page-width: 1440px;
    --content-width: 1188px;
    --feature-width: 264px;
    --filters-width: 586px;
    --footer-content-width: var(--feature-width);
    --footer-padding-gap: 156px;
    --padding-gap: 24px;
    --hero-container-gap: 188px;
    --card-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12),
    1px 0px 2px rgba(0, 0, 0, 0.08), 1px 0px 3px rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.centred {
    text-align: center;
}

/* hide lists dots */
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* Reset internal indents */
ul { 
  padding: 0px;
  list-style: none; 
} 

/* Reset external in--content-widthdents */
h1, 
h2,
h3, 
h4,
p, 
ul {
  margin: 0; 
}

/* Reset extra spases atound imgs */
img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    font: inherit;
}

/* Link decorations */
a.active.link {
    text-decoration:none;
    color: var(--btn-active-color);
}

a.active.link:hover {
    color: var(--btn-active-color);
}

a.link:is(:hover, :focus) {
    text-decoration-line:var(--btn-active-color); 
    color: var(--btn-active-color);  
}

/* .body-container.main { */
body {
    background-color: var(--primary-white-color);
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    line-height: var(--text-line-height);
    letter-spacing: 0.02em; 
}

 /* Container */
.container {
 width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
}

/* Top Line section */
header {
    border-bottom: 1px solid var(--white-text-color);
}

.header .container {
    display:flex;
    justify-content: space-between;   
    /* outline: 2px solid tomato; */
}


.page-nav {
    display:flex;
    align-items: center;
}
/* Top line Logo section */
.logo {
    font-family: var(--secondary-font-family);
    font-size: var(--logo-font-size);
    line-height: var(--header-logo-line-height);
    text-decoration: none;
}

.logo-web {
    color: var(--accent-text-color);
}

.logo-studio {
    color: var(--title-text-color);
}

.white-logo-studio {
    color: var(--white-title-text-color);
}

/* Top line Menu nav */
.menu-nav.list{
    display:flex;
    margin-left: 76px;
    padding-left: 0px;
}

.menu-nav > .item:not(:first-child) {
/* .menu-nav .item + .item { */
    margin-left: 40px;
} 

.nav{
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
}

.nav:hover, .nav:focus {
    color: var(--btn-active-color);
}

.contacts.list > ul {
    display:flex;
    justify-content: space-between;
    width: 346px;
}

.contacts a,
.address.link {
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    color: var(--text-color);
    line-height: var(--header3-line-height);
    font-style: normal;
    text-decoration: none;
}

.contacts > .item:not(:first-child) {
/* .contacts .item + .item { */
    margin-left: 40px;
}

  /* Hero-img container */
 .hero-img .container {
    padding: var(--hero-container-gap) 0;
 }

 .hero-img {
    margin: auto;
    align-content: center;
    width: var(--page-width);
    background-color: var(--dark-background-color);
 }

 .hero-msg {
    margin: 0px auto 48px;
    color: var(--primary-white-color);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    font-weight: var(--header1-font-weight);
    width: 496px;
    text-align: center; 
 }
 
.hero-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    /* margin-bottom: var(--hero-container-gap); */
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    line-height: var(--text-line-height);
    font-weight: 500;
    font-size: 16px;
}

.hero-btn:is(:hover,:focus) {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
}


/* Main page section titles */
.title {
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0px;  
    color: var(--title-text-color);
    font-size: var(--header2-font-size);
    line-height: var(--header2-line-height);
}

/** Section containers */
.features-list,
.information-list,
.team-list {
    display: flex;
    justify-content: space-between;
}

.feature-list {
    gap: 24px;
}

.section {
    padding: 120px 0;
}

.feature-item {
    width: var(--feature-width);
}

li.feature.list:last-child {
    margin-right: 0px;
}

.features-list {
    display:flex;
}

/* What are we doing section */
.information {
    padding-top: 0;
}

.feature-title {
/* h3 { */
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-size: var(--header3-font-size);
    font-weight: 500;
    line-height: var(--header3-line-height);
}

.feature-content {
    color: var(--text-color);
    line-height: 1.5;
}

/** Our team section */

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--white-title-text-color);
}

.team-item {  
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-items{
    padding: 32px 16px;
    text-align: center;
}

ul.card-content.list li {
    margin-left: 0px;
}

.teamplayers-name {
    margin-bottom: 8px;
    font-size: var(--header3-font-size);
    font-weight: 500;
    color: var(--title-text-color);
    line-height: var(--header3-line-height);
}

/* index.html Section3 container  */
.teamplayers-position {
    line-height: var(--header3-line-height);
    color: var(--text-color);
}

.footer {
    padding: 100px 0;
    background-color: var(--dark-background-color);
}

.footer-content {
    margin-top: 16px;
    width: var(--footer-content-width);
    color: var(--white-text-color);
    line-height: var(--header3-line-height);
}

/** Portfolio page */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-buttons {
    display:flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.filters {
    display: block;
    min-width: 69px;
    height: 48px;
    padding: calc(var(--padding-gap)/2) var(--padding-gap);
    font-size: var(--regular-font-size); 
    font-weight: 500;  
    border: 1px solid;
    border-top: 4px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--accent-text-color);
    background-color: var(--white-background-color);  
    line-height: 1.5; 
}

.filters:is(:focus, :hover) {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.rows {
    display:flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.card-title {
/* h3.content.name { */
    margin-bottom: 8px;
    font-family: var(--primary-font-family);
    font-size: var(--header3-font-size);
    font-weight: var(--header3-font-weight);
    color: var(--title-text-color);
}